<h1 class="text-center">Log In</h1>
<p class="text-center" id="alert"><%= alert %></p>
<%= form_tag sessions_path do %>
  <div class="field text-center">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field text-center">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div><br>
  <div class="actions text-center"><%= submit_tag "Log In",class: 'btn btn-info'%></div>
   <h5 class="text-center">Don't have an account? <a href="/users/new">Sign up here!</a></h5>
<% end %>
