<div class="text-center"><%= image_tag current_user.image, class: "ava text-center", height: 100%></div>
<h1 class="text-center"><%= current_user.email%></h1>
<div id="infoForm">
  <div class="text-center">
    First Name: <%= @user.first_name %> <br>
    Last Name: <%= @user.last_name %> <br>
    Email or Username: <%= @user.email %> <br>
    <button id="editButton" class="btn btn-warning">edit</button>
  </div>
</div>

<br>
<hr>
<br>


<div id="editForm" style="display: none;">
  <%= render "form" %> <br>
</div>

<script>
    $("#editButton").on("click",function(){
    console.log('edit')
    $("#editForm").show()
    $("#infoForm").hide()

  })
  $("#editCancel").click(function(){
    console.log('cancel')
    $("#editForm").hide()
    $("#infoForm").show()
  })

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img_prev')
          .show()
          .attr('src', e.target.result)
          .width(250)
          .height(250);
      };
      reader.readAsDataURL(input.files[0]);
    }
  }

</script>

