<h1 class="text-center"><%= current_user.email%><%= image_tag current_user.image, class: "avatar", height: 100%></h1>
<div id="infoForm">
  <div class="text-center">
    First Name: <%= @user.first_name %> <br>
    Last Name: <%= @user.last_name %> <br>
    Email or Username: <%= @user.email %> <br>
    <button id="editButton" class="btn btn-warning">edit</button>
  </div>
</div>

<br>
<hr>
<br>


<div id="editForm" style="display: none;">
  <%= render "form" %> <br>
</div>

<script>
    $("#editButton").on("click",function(){
    console.log('edit')
    $("#editForm").show()
    $("#infoForm").hide()

  })
  $("#editCancel").click(function(){
    console.log('cancel')
    $("#editForm").hide()
    $("#infoForm").show()
  })
</script>

