<h1 class="text-center">Sign Up</h1>
<%= form_for @user, url: users_path, html: { multipart: true } do |user| %>
  <% if @user.errors.any? %>
    <div class="error_messages text-center">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field text-center">
    <%= user.label :first_name %>
    <%= user.text_field :first_name %>
  </div>
  <div class="field text-center">
    <%= user.label :last_name %>
    <%= user.text_field :last_name %>
  </div>
  <div class="field text-center">
    <%= user.label :email_or_username %>
    <%= user.text_field :email %>
  </div>
  <div class="field text-center">
    <%= user.label :password %>
    <%= user.password_field :password %>
  </div>
  <div class="field text-center">
    <%= user.label :password_confirmation %>
    <%= user.password_field :password_confirmation %>
  </div><br>
  <div class="field text-center">
    <%= user.label :profile_picture, class: "l-center" %>
    <img id="img_prev" src="#" alt="upload image preview" style="display: none;"> <br>
    <%= user.file_field :image, class: "m-center",onchange: "readURL(this);"%>
  </div><br>
  <div class="actions text-center"><%= submit_tag "Sign Up!",class: 'btn btn-info'%></div>
  <h5 class="text-center">already have an account? <a href="/login">log in here!</a></h5>
<% end %>

<script>

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img_prev')
          .show()
          .attr('src', e.target.result)
          .width(250)
          .height(250);
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
