<h1 class="text-center">Top Posts</h1>
<ul class="text-center">
	<% @posts.each do |post| %>
	<div class="container-fluid">
		<div class="col-xs-6" style="background:yellow">
			<%= link_to image_tag(post.image.url), post_path(post), class: "image-container"%><br>
			<span class="pull-left"><%= post.user.email %></span>
			<span class="pull-right"><%= link_to raw("<span class='glyphicon glyphicon-heart'></span>"), post_votes_path(post), method: :post %><%= post.votes.count %></span><br>
			<%= post.description %><br>
			Posted on <%= post.created_at.strftime("%B %d, %Y @ %I:%M:%S %p") %><br><br>
		</div>
	</div>
	<% end %>
</ul>

