<h1>New Posts</h1>
<p id="notice"><%= notice %></p>
<%= form_for @post, url: posts_path, html: { multipart: true } do |post| %>
  <% if @post.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @post.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= post.label :image %>
    <%= post.file_field :image %>
  </div>
  <div class="field">
    <%= post.label :description %>
    <%= post.text_field :description,placeholder: "ex. name of food, restraunt, location etc...",size: 60 %>
  </div>
  <%= post.submit 'Post', class: 'btn btn-info', disabled: !current_user %>
<% end %>

<h1>Posts</h1>
<ul>
	<% @posts.each do |post| %>
		<%= image_tag post.image.url %><br>
		<%= post.description %><br>
		Posted on <%= post.created_at.strftime("%B %d, %Y @ %I:%M:%S %p") %><br><br>
		<%= link_to 'View post', post_path(post) %>
	<% end %>
</ul>

