<h1 class="text-center">New Posts</h1>
<p class="text-center" id="notice"><strong><%= notice %></strong></p>
<%= form_for @post, url: posts_path, html: { multipart: true } do |post| %>
  <% if @post.errors.any? %>
    <div class="error_messages text-center">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @post.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= post.hidden_field :latitude %>
  <%= post.hidden_field :longitude %>
  <div class="field text-center">
    <%= post.label :image %>
    <%= post.file_field :image, class: "m-center"%>
  </div>
  <div class="field text-center">
    <%= post.label :description %>
    <%= post.text_field :description,placeholder: "ex. name of food, restraunt, location etc...",size: 60 %>
    <div class="actions text-center"><%= post.submit 'Post', class: 'btn btn-info', disabled: !current_user %></div>
    <div class="text-center" style="width: 250px; margin: 10px auto;">
      <div class="text-center" id="geolocation" style='width: 250px; height: 250px;'></div>
    </div>
  </div>
<% end %>

<script>

  $('form').on('submit', function() {
    $('#post_longitude').attr('value', lng);
    $('#post_latitude').attr('value', lat);
  });
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'geolocation'} }, function(){
    // be aware chrome >= 50 requires https for geolocation to work
    if(navigator.geolocation)
      navigator.geolocation.getCurrentPosition(displayOnMap);
  });

  var lat, lng;

  function displayOnMap(position){
    lat = position.coords.latitude;
    lng = position.coords.longitude;
    var marker = handler.addMarker({
      lat: position.coords.latitude,
      lng: position.coords.longitude
    });
    handler.map.centerOn(marker);
  };
</script>

