<!DOCTYPE html>
<html>
  <head>
    <title>Foodchella</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body>
  	<nav class="navbar navbar-inverse navbar-fixed-top">
          <a class="navbar-brand" href="/">Foodchella</a>
        </div>
        <%if !current_user %>
  			<ul class="nav navbar-nav navbar-right">
  	      <li class="navbar-right"><a href="/users/new"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
  	      <li class="navbar-right"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        <%else%>
          <div class="nav navbar-nav navbar-right dropdown zero">
            <!-- <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"
                    style="height: 50px; width:100%;margin-right: 75px; background: url('<%= current_user.image %>') no-repeat; background-size: 100% 50px;">
             <%# image_tag current_user.image, height: 50,class: "zero" %>
            </button> -->
             <%= current_user.email%><a href="/users/new" class="zero"><%= image_tag current_user.image, height: 50,class: "zero" %></a>
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" style="background-color:black;">
             <i class="glyphicon glyphicon-menu-hamburger" style="color:white;"></i>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><span class="glyphicon glyphicon-edit"></span> My Posts</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/posts/new"><span class="glyphicon glyphicon-pencil"></span> New Post</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/posts/random"><span class="glyphicon glyphicon-random"></span> Random Post</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><%= link_to raw("<span class='glyphicon glyphicon-log-out'></span> Log Out"), session_path("dummy"), method: :delete%></li>
            </ul>
          </div>
          <!-- <ul class="nav navbar-nav navbar-right">
            <li class="navebar-right"><a href="/users/new" class="zero"><%= current_user.email%> <%= image_tag current_user.image, height: 50,class: "zero" %></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right"><%= link_to raw("<span class='glyphicon glyphicon-log-out'></span>Logout"), session_path("dummy"), method: :delete%></li>
            <li class="navbar-right"><a href="/posts/new"><span class="glyphicon glyphicon-pencil"></span>New Post</a></li>
            <li class="navbar-right"><a href="/posts/random"><span class="glyphicon glyphicon-pencil"></span>Random Post</a></li>
          </ul> -->
        <% end %>
      </div>
    </nav>
    <%= yield %>
    <script src=“https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js“></script>
    <script src=“js/bootstrap.min.js”></script>
  </body>
</html>
